<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>{{info.title}}</title>
    <script>

    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>
            <div id="mySidebar" class="sidebar">
                <ul class="sidebarlist">
                {% for service in info.services %}
                    <li><p style="color: honeydew" class="title servicebar">{{ service.title }}</p>
                        <input type="checkbox" id="serviceCheck{{ service.id }}">
                    </li>
                    {% endfor %}
                </ul>
    </div>



    {% block body %}

    {% endblock %}
    </div>
    <div id="debug"></div>
{# todo flash messages #}
</body>

<script>
    function openNav(){
        $("#mySidebar").css("width", "250px");
        $("#main").css("marginLeft", "250px");

    }
    function closeNav(){
        $("#mySidebar").css("width", "0");
        $("#main").css("marginLeft", "250px");

    }
</script>
</html>