<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>{{info.title}}</title>
    <script>

    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <!-- Links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Canvas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
                <li class="nav-item ml-auto">
                </li>
            </ul>
            <div class="ml-auto">
            <form class="form-inline" action="" method="post">
                <input type="text" name="search">
                <!--   <input type="submit" name="submit2" value="Search"> -->
            </form>
            </div>
        </div>
    </nav>
{#
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">CheckBox</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Searchbox</a></li>
            </ul>#}
            <button class="openbtn" onclick="openNav()">☰</button>
            <div id="mySidebar" class="sidebar">
                <ul class="sidebarlist list-group">
                {% for service in info.services %}
                    <li class="list-group-item" style="padding: 0">
                    <div class="row">
                         <div style="color: honeydew; text-align: start" class="">{{ service.title }}<input type="checkbox" id="serviceCheck{{ service.id }}"></div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
    </div>



    {% block body %}

    {% endblock %}
    </div>
    <div id="debug"></div>
{# todo flash messages #}
</body>

<script>
    function openNav(){
        $("#mySidebar").css("width", "250px");
        $("#main").css("marginLeft", "250px");

    }
    function closeNav(){
        $("#mySidebar").css("width", "0");
        $("#main").css("marginLeft", "250px");

    }
</script>
</html>